page-login{

    .image-background {
        width: 50%;
        background: white;
        display: block;
        margin: 30px auto 15px;
    }

    .complete-card {
        width: 100%;
        height: auto;
    }

    .button-session {
        margin-top: 20px;
    }

    .version {
       margin-top: 55%;
       text-align: center;
      }
}
